src/examples/example.json
[
    {
        "id": "48eb3873bc93ec4e",
        "type": "debug",
        "z": "7281ac149e947c3b",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "6b6081b836dd21b4",
        "type": "kusto-monitor",
        "z": "7281ac149e947c3b",
        "kustoConfig": "2e01a14054d3ceee",
        "name": "",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "48eb3873bc93ec4e",
                "c64887085b1e90b2"
            ]
        ]
    },
    {
        "id": "c64887085b1e90b2",
        "type": "change",
        "z": "7281ac149e947c3b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data[0].timeAgo",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 420,
        "wires": [
            [
                "28e104e6809e4b11"
            ]
        ]
    },
    {
        "id": "28e104e6809e4b11",
        "type": "debug",
        "z": "7281ac149e947c3b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 740,
        "y": 420,
        "wires": []
    }
]